@import url('https://fonts.googleapis.com/css2?family=Anton&family=Varela+Round&display=swap');
/*'Varela Round', sans-serif;
'Anton', sans-serif;*/

/* Navigation */

/* Buttons */

.start-game-container button{
    height: 70px;
    position: relative;
    top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

#btn-player-hit, #btn-player-stand{
    margin: 5px;
    width: 100px;
    height: 50px;
    position: relative;
    top: 25vh;
}

#btn-play-again {
    margin: auto;
}

/* Fonts */

.page-header{
    font-family: 'Anton', sans-serif;
    font-size: 3vw;
    padding-bottom: 10px;
    color: white;

    /* style rule for black text border - https://stackoverflow.com/questions/4772906/css-is-it-possible-to-add-a-black-outline-around-each-character-in-text */
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.score-keeper{
    font-family: 'Varela Round', sans-serif;
    font-size: 2vw;
}

.choice-area p{
    font-family: 'Varela Round', sans-serif;
    font-size: 2vw;
    text-align: center;
}

#how-to-play-header{
    margin-top: 5px;
}

.rules-heading{}

.rules-paragraph{
    padding: 10px;
    font-size: 20px;
    line-height: 60px;
}

/* Images */

.start-game-container img{
    margin-left: 20px;
    margin-right: 20px;
}

#dealer-hand img, #player-hand img{
    margin: 4px;
}

/* Containers */

.game-area-container, .how-to-play-container, .contact-container{
    height: calc(100vh - 56px);
    background-color: green;
}

.start-game-container{
    position: relative;
    top: 30%;
    padding: 20px;
}

#dealer-hand{
    padding-top: 5px;
}

.score-choice-deck-container{
    margin-top: 100px;
}

.choice-area{}

.how-to-play-container{}

.rules-container{
    background-color: rgb(85, 167, 85);
    height: 70vh;
    width: 70vw;
}

.carousel-inner{
    padding: 10px;
}

.carousel-item{
    padding: 20px;
}

/* Media queries */