@import url('https://fonts.googleapis.com/css2?family=Anton&family=Varela+Round&display=swap');
/*'Varela Round', sans-serif;
'Anton', sans-serif;*/

/* Navigation */

/* Buttons */

.start-game-container button{
    height: 70px;
    position: relative;
    top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

#btn-player-hit, #btn-player-stand{
    margin: 5px;
    width: 100px;
    height: 50px;
    position: relative;
    top: 25vh;
}

#btn-play-again {
    margin: auto;
}

/* Fonts */

.page-header{
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    padding-bottom: 10px;
    margin: 10px;
    color: white;

    /* style rule for black text border - https://stackoverflow.com/questions/4772906/css-is-it-possible-to-add-a-black-outline-around-each-character-in-text */
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.score-keeper{
    font-family: 'Varela Round', sans-serif;
    font-size: 2vw;
    color: white;
}

.choice-area p{
    font-family: 'Varela Round', sans-serif;
    font-size: 2vw;
    text-align: center;
    color: white;
}

#how-to-play-header{
    margin-top: 5px;
}

.rules-heading{}

.rules-paragraph{
    padding: 10px;
    font-size: 20px;
    line-height: 60px;
}

/* Images */

.start-game-container img{
    margin-left: 20px;
    margin-right: 20px;
}

#dealer-hand img, #player-hand img{
    margin: 4px;
}

/* Containers */

.game-area-container, .contact-container{
    height: calc(100vh - 56px);
    background-color: green;
}

.how-to-play-container{
    background-color: green;
}

.start-game-container{
    position: relative;
    top: 30%;
    padding: 20px;
}

#dealer-hand{
    padding-top: 5px;
}

.score-choice-deck-container{
    margin-top: 100px;
}

.choice-area{}

.how-to-play-container{}

.rules-container, .contact-form-container{
    background-color: whitesmoke;
    width: 70vw;
}

.contact-form-container{
    height: 75vh;
}

.carousel-inner{
    padding: 10px;
}

.carousel-item{
    padding: 20px;
}

/* Form */



/* Media queries */

@media (max-width: 484px) {
    .page-header{
        font-size: 9vw;
    }

    #player-hand img, #dealer-hand img{
        height: 100px;
    }

    .score-keeper{
        font-size: 4vw;
    }

    .btn-responsive{
        padding: 2px 4px;
        font-size: 90%;
    }

    #btn-player-stand, #btn-player-hit{
        top: 20vh;
    }

    .choice-area p{
        font-size: 12px;
    }

    .rules-container{
        width: 90vw;
    }

    .rules-container h2{
        font-size: 18px;
    }

    .rules-container p{
        font-size: 14px;
        line-height: 30px;
    }

    .contact-form-container{
        width: 90vw;
    }

    .contact-form-container, h3{
        font-size: 22px;
    }

    .contact-form-container label, .contact-form-container input, .contact-form-container div{
        font-size: 16px;
    }

    .contact-form-container input, .contact-form-container textarea{
        width: 80%;
    }

    .contact-form-container textarea{
        height: 50%;
    }

    .contact-form-container button{
        position: relative;
        bottom: 150px;
    }
}

@media (max-width: 391px) {
    .start-game-container button{
        margin: 5px;
    }
}